<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455837118847-4md51banarekjalp4hr3u9dh184b4lk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455837118847-4md51banarekjalp4hr3u9dh184b4lk0</string>
	<key>API_KEY</key>
	<string>AIzaSyBUtPwV3H6dKcr770N2jD-H_qrtKmbxBZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>455837118847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eman.Kinashe</string>
	<key>PROJECT_ID</key>
	<string>kinashe-c6bc6</string>
	<key>STORAGE_BUCKET</key>
	<string>kinashe-c6bc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455837118847:ios:dd3f1c9039f2d568932a4a</string>
	<key>DATABASE_URL</key>
	<string>https://kinashe-c6bc6.firebaseio.com</string>
</dict>
</plist>